{% extends 'index.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto" style="margin-bottom: 150px!important">
                <div>
                    <h3 class="float-md-start mb-0">TestApp</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/registration">Register</a>
                    </nav>
                </div>
        </header>
        <main class="px-3">
            <h1>Test App.</h1>
            <p class="lead">Test app with Symfony 7, Mongo DB, Jenkins, CircleCi, and AWS CodeDeploy.</p>
            <p class="lead">
                <a href="/registration" class="btn btn-lg btn-primary">Register</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50" style="margin-top: 300px!important">
            <p>&copy;{{ 'now' | date('Y') }}
            </p>
        </footer>
    </div>
{% endblock %}
